body {
    font-family: Roboto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
}

.header-box, .section-one, .section-two, .section-three, .section-four, .footer-box {
    display: flex;
}

.header-box, .footer-box, .section-one {
    background-color: #1F2937;
}

.header-box {
    justify-content: space-between;
    height: 4rem;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    align-items: center;
    margin-left: 10rem;
}

.header-link {
    display: flex;
    color: #E5E7EB;
    flex-wrap: wrap;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-right: 10rem;
}

li {
    margin-right: 1rem;
}

.section-one, .section-two {
    height: 18rem;
}

.section-three {
    height: 16rem;
    background-color: #E5E7EB;
}

.section-four {
    height: 12rem;
}

.footer-box {
    height: 5rem;
}