body {
    font-family: Roboto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
}

.header-box, .section-one, .section-two, .section-three, .section-four, .footer-box {
    display: flex;
}

.header-box, .footer-box, .section-one {
    background-color: #1F2937;
}

.header-box {
    height: 4rem;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-link {
    color: #E5E7EB;
}

a {

}

ul {

}

.section-one, .section-two {
    height: 18rem;
}

.section-three {
    height: 16rem;
    background-color: #E5E7EB;
}

.section-four {
    height: 12rem;
}

.footer-box {
    height: 5rem;
}